<h1>1-800 Names! America's #1 Phone Number Name Lookup!</h1>

<h2>First Words: </h2>
<ul>
<% @first_answers.each do |word| %>
	<li><%= word %>
<% end %>
</ul>

<h2>Second Words: </h2>
<ul>
<% @second_answers.each do |word| %>
	<li><%= word %>
<% end %>
</ul>
<%= link_to 'Go Home', home_path %>