<h1>1-800 Names! America's #1 Phone Number Name Lookup!</h1>

First Words: 
<ul>
<% @first_word.each do |word| %>
	<li><%= word %>
<% end %>
</ul>

Second Words
<ul>
<% @second_word.each do |word| %>
	<li><%= word %>
<% end %>
</ul>

<%= link_to 'Go Home', home_path %>